# EntryPoints Configuration
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"
          permanent: true

  websecure:
    address: ":443"
    http:
      tls: {}

# TLS Configuration
tls:
  certificates:
    - certFile: "/etc/traefik/certs/cert.crt"
      keyFile: "/etc/traefik/certs/cert.key"

# Providers Configuration
providers:
  docker:
    exposedByDefault: false
    network: ix-arr-stack_default

# API & Dashboard Configuration
api:
  dashboard: true
  insecure: false

# Observability Configuration
log:
  level: "INFO"

accessLog: {}

metrics:
  prometheus: {}
