services:
  ## ARR STACK
  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 7878:7878
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/radarr:/config
      - /mnt/vault/arr2/data:/data
    networks:
      - traefik-proxy

  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 8989:8989
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/sonarr:/config
      - /mnt/vault/arr2/data:/data
    networks:
      - traefik-proxy

  bazarr:
    container_name: bazarr
    image: ghcr.io/hotio/bazarr
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 6767:6767
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/bazarr:/config
      - /mnt/vault/arr2/data/media:/data/media
    networks:
      - traefik-proxy

  # lidarr:
  #   container_name: lidarr
  #   image: ghcr.io/hotio/lidarr
  #   ports:
  #     - "8686:8686"
  #   environment:
  #     - PUID=3002
  #     - PGID=3002
  #     - UMASK=002
  #     - TZ=Australia/Melbourne
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - /mnt/vault/arr2/config/lidarr:/config
  #     - /mnt/vault/arr2/data/media:/data
  #   networks:
  #     - traefik-proxy

  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr
    restart: unless-stopped
    ports:
      - "9696:9696"
    logging:
      driver: json-file
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/prowlarr:/config
    networks:
      - traefik-proxy

  ## JELLYFIN
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin
    restart: unless-stopped
    ports:
      - "8096:8096"
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/jellyfin:/config
      - /mnt/vault/arr2/data/media:/data/media
      - /mnt/vault/arr2/data/cache:/data/cache
    networks:
      - traefik-proxy

  seerr:
    container_name: seerr
    image: ghcr.io/seerr-team/seerr:latest
    ports:
      - "5055:5055"
    restart: unless-stopped
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/seerr:/app/config
    networks:
      - traefik-proxy
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3

  ## DOWNLOADERS
  # jackett:
  #   container_name: jackett
  #   image: ghcr.io/hotio/jackett
  #   ports:
  #     - "9117:9117"
  #   environment:
  #     - PUID=3002
  #     - PGID=3002
  #     - UMASK=002
  #     - TZ=Australia/Melbourne
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - /mnt/vault/arr2/config/jackett:/config
  #   networks:
  #     - traefik-proxy

  qbittorrent:
    image: ghcr.io/hotio/qbittorrent
    container_name: qbittorrent
    logging:
      driver: json-file
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
      - WEBUI_PORTS=8081/tcp,8081/udp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/qbitorrent:/config
      - /mnt/vault/arr2/data/torrents:/data/torrents
    # ports:
    # - 8081:8081
    # networks:
    #   - traefik-proxy
    network_mode: "service:gluetun"


  # sabnzbd:
  #   container_name: sabnzbd
  #   image: ghcr.io/hotio/sabnzbd
  #   restart: unless-stopped
  #   logging:
  #     driver: json-file
  #   ports:
  #     - 8082:8080
  #     - 9090:9090
  #   environment:
  #     - PUID=3002
  #     - PGID=3002
  #     - TZ=Australia/Melbourne
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - /mnt/vault/arr2/config/sabnzbd:/config
  #     - /mnt/vault/arr2/data/usenet:/data/usenet:rw
  #   networks:
  #     - traefik-proxy
  #   labels:
  #     - "traefik.enable=false"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr
    container_name: flaresolverr
    restart: unless-stopped
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=Australia/Melbourne
    ports:
      - "8191:8191"
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=false"

  ## VPN
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp # HTTP proxy
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
      - 8081:8081     # For qBittorrent
      - 6881:6881     # For qBittorrent
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=$NORDVPN_WIREGUARD_ACCESS_KEY
      - TZ=Australia/Melbourne
      - UPDATER_PERIOD=48h
      - BLOCK_MALICIOUS=off
      - BLOCK_SURVEILLANCE=off
      - BLOCK_ADS=off
      - DNS_REBINDING_PROTECTION_EXEMPT_HOSTNAMES=sugoi.pomf.se,ipv4.tracker.harry.lu,ipv6.tracker.harry.lu
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/gluetun:/gluetun
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=false"

  ## Proxy
  traefik:
    image: traefik:ramequin
    container_name: traefik
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/traefik:/etc/traefik:ro
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik-proxy

  whoami:
    image: traefik/whoami
    networks:
      - traefik-proxy

networks:
  traefik-proxy:
    driver: bridge
    name: traefik-proxy
