services:
  ## ARR STACK
  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 7878:7878
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/radarr:/config
      - /mnt/vault/arr2/data:/data
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.bigbox.samh.page`)"
      - "traefik.http.routers.radarr.tls=true"
      - "traefik.http.routers.radarr.entrypoints=websecure"

  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 8989:8989
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/sonarr:/config
      - /mnt/vault/arr2/data:/data
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.bigbox.samh.page`)"
      - "traefik.http.routers.sonarr.tls=true"
      - "traefik.http.routers.sonarr.entrypoints=websecure"

  bazarr:
    container_name: bazarr
    image: ghcr.io/hotio/bazarr
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 6767:6767
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/bazarr:/config
      - /mnt/vault/arr2/data/media:/data/media
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.bigbox.samh.page`)"
      - "traefik.http.routers.bazarr.tls=true"
      - "traefik.http.routers.bazarr.entrypoints=websecure"

  # lidarr:
  #   container_name: lidarr
  #   image: ghcr.io/hotio/lidarr
  #   ports:
  #     - "8686:8686"
  #   environment:
  #     - PUID=3002
  #     - PGID=3002
  #     - UMASK=002
  #     - TZ=Australia/Melbourne
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - /mnt/vault/arr2/config/lidarr:/config
  #     - /mnt/vault/arr2/data/media:/data
  #   networks:
  #     - traefik-proxy
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.lidarr.rule=Host(`lidarr.bigbox.samh.page`)"
  #     - "traefik.http.routers.lidarr.tls=true"
  #     - "traefik.http.routers.lidarr.entrypoints=websecure"

  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr
    restart: unless-stopped
    ports:
      - "9696:9696"
    logging:
      driver: json-file
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/prowlarr:/config
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.bigbox.samh.page`)"
      - "traefik.http.routers.prowlarr.tls=true"
      - "traefik.http.routers.prowlarr.entrypoints=websecure"

  ## JELLYFIN
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin
    restart: unless-stopped
    ports:
      - "8096:8096"
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/jellyfin:/config
      - /mnt/vault/arr2/data/media:/data/media
      - /mnt/vault/arr2/data/cache:/data/cache
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.bigbox.samh.page`)"
      - "traefik.http.routers.jellyfin.tls=true"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"

  jellyseerr:
    container_name: jellyseerr
    image: fallenbagel/jellyseerr
    ports:
      - "5055:5055"
    restart: unless-stopped
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/jellyseer:/app/config
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyseerr.rule=Host(`jellyseerr.bigbox.samh.page`)"
      - "traefik.http.routers.jellyseerr.tls=true"
      - "traefik.http.routers.jellyseerr.entrypoints=websecure"
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3

  ## DOWNLOADERS
  # jackett:
  #   container_name: jackett
  #   image: ghcr.io/hotio/jackett
  #   ports:
  #     - "9117:9117"
  #   environment:
  #     - PUID=3002
  #     - PGID=3002
  #     - UMASK=002
  #     - TZ=Australia/Melbourne
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - /mnt/vault/arr2/config/jackett:/config
  #   networks:
  #     - traefik-proxy
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.jackett.rule=Host(`jackett.bigbox.samh.page`)"
  #     - "traefik.http.routers.jackett.tls=true"
  #     - "traefik.http.routers.jackett.entrypoints=websecure"

  qbittorrent:
    image: ghcr.io/hotio/qbittorrent
    container_name: qbittorrent
    logging:
      driver: json-file
    environment:
      - PUID=3002
      - PGID=3002
      - UMASK=002
      - TZ=Australia/Melbourne
      - WEBUI_PORTS=8081/tcp,8081/udp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/qbitorrent:/config
      - /mnt/vault/arr2/data/torrents:/data/torrents
    ports:
      - 8081:8081
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.bigbox.samh.page`)"
      - "traefik.http.routers.qbittorrent.tls=true"
      - "traefik.http.routers.qbittorrent.entrypoints=websecure"

  sabnzbd:
    container_name: sabnzbd
    image: ghcr.io/hotio/sabnzbd
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - 8082:8080
      - 9090:9090
    environment:
      - PUID=3002
      - PGID=3002
      - TZ=Australia/Melbourne
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/sabnzbd:/config
      - /mnt/vault/arr2/data/usenet:/data/usenet:rw
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=false"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr
    container_name: flaresolverr
    restart: unless-stopped
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=Australia/Melbourne
    ports:
      - "8191:8191"
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=false"

  ## VPN
  # gluetun:
  #   image: qmcgaw/gluetun
  #   container_name: gluetun
  #   restart: unless-stopped
  #   cap_add:
  #     - NET_ADMIN
  #   devices:
  #     - /dev/net/tun:/dev/net/tun
  #   ports:
  #     - 8888:8888/tcp # HTTP proxy
  #     - 8388:8388/tcp # Shadowsocks
  #     - 8388:8388/udp # Shadowsocks
  #     - 8080:8080     # For qBittorrent
  #   environment:
  #     - VPN_SERVICE_PROVIDER=nordvpn
  #     - VPN_TYPE=wireguard
  #     - WIREGUARD_PRIVATE_KEY=$NORDVPN_WIREGUARD_ACCESS_KEY
  #     - TZ=Australia/Melbourne
  #     - UPDATER_PERIOD=48h
  #     - BLOCK_MALICIOUS=off
  #     - BLOCK_SURVEILLANCE=off
  #     - BLOCK_ADS=off
  #     - DNS_REBINDING_PROTECTION_EXEMPT_HOSTNAMES=sugoi.pomf.se,ipv4.tracker.harry.lu,ipv6.tracker.harry.lu
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - /mnt/vault/arr2/config/gluetun:/gluetun
  #   networks:
  #     - traefik-proxy
  #   labels:
  #     - "traefik.enable=false"

  ## Proxy
  traefik:
    image: traefik:ramequin
    container_name: traefik
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/vault/arr2/config/traefik:/etc/traefik:ro
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`dashboard.bigbox.samh.page`)"
      - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.service=api@internal"
    networks:
      - traefik-proxy

  whoami:
    image: traefik/whoami
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.bigbox.samh.page`)"
      - "traefik.http.routers.whoami.tls=true"
      - "traefik.http.routers.whoami.entrypoints=websecure"
    networks:
      - traefik-proxy

  # Tracing
  jaeger:
    image: cr.jaegertracing.io/jaegertracing/jaeger:2.12.0
    ports:
      - 16686:16686
      - 4317:4317
      - 4318:4318
      - 5778:5778
      - 9411:9411
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=false"


networks:
  traefik-proxy:
    driver: bridge
    name: traefik-proxy
